.floatingScrollTopButton {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid #05309d;
  background-color: #05309d;
  outline: none;
  cursor: pointer;
}
.floatingScrollTopButton:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .floatingScrollTopButton {
    right: 1rem;
    bottom: 1rem;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
  }
}
