.root {
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.imageWrapper {
  width: 100%;
  height: 267px;
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 16px;
}

.image {
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 2;
  border-radius: 16px;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  pointer-events: none;
}

.text {
  word-break: keep-all;
  white-space: pre-line;
  font-size: 20px;
  pointer-events: auto;
}

.link {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-decoration: underline;
  pointer-events: auto;
  transition: color 0.2s;
}
.link:hover,
.link:focus {
  outline: none;
}

@media (max-width: 600px) {
  .imageWrapper {
    height: 160px;
    border-radius: 10px;
  }
  .text {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .link {
    font-size: 16px;
  }
}
